<div [className]="['container' + team]">
  <h2>{{teamNames[team]}}</h2>
  <h3>{{state.players[team] ? state.players[team].name : ''}} {{state.score[team]}}</h3>
  <div class='card-lists'>
    <ul>
      <li *ngFor='let row of rows'>
        {{row%2==(team)? 'MULTIPLE: ' : 'FACTORS: '}}
      </li>
      <li>Total</li>
    </ul>
    <ul>
      <li *ngFor='let row of rows' class="values">
        <span id='{{team}}-{{row}}' type='text'></span>
        <div class="underline"></div>
      </li>
      <li *ngIf='state.players[team] != undefined'>{{state.players[team] != undefined ? state.players[team].score : 0}}
      </li>
    </ul>
  </div>
</div>