<form [formGroup]='joinForm' (ngSubmit)='join(joinForm.value)' *ngIf='!joined'>
  <label for='name'>Name</label>
  <input type='text' formControlName='name'>
  <button type='submit'>join</button>
</form>
<div *ngIf='joined'>
  <div class='flex-container'>
    <scorecard [(state)]='state' [team]='0'></scorecard>
    <gameboard [(state)]='state' (selected)="selected($event)"></gameboard>
    <scorecard [(state)]='state' [team]='1'></scorecard>
  </div>
  <button (click)="choseFactors()">Done Choosing Factors</button>
  <button [disabled]="state.gameStarted" (click)="startGame()">Start Game</button>
  <button [disabled]="state.gameStarted" (click)="playAgain()">Play Again</button>
</div>